<h1>mipa UI POC Stackblitz</h1>
<!-- This nav gives you links to click, which tells the router which route to use (defined in the routes constant in  AppRoutingModule) -->
<nav>
  <ul>
    <li *ngFor="let item of links"><a class="link" routerLink="{{item.path}}" routerLinkActive="active" ariaCurrentWhenActive="page">{{item.name}}</a></li> 
  </ul>
</nav>

<hr />
<!-- The routed views render in the <router-outlet>-->
<div [@routerTransition]="getState(routerOutlet)">
  <router-outlet #routerOutlet="outlet"></router-outlet>
</div>
