<div>
  <p>
    Detection Schedule:<br />
    <mat-button-toggle-group
      [(ngModel)]="scheduleType"
      name="scheduleType"
      aria-label="scheduleType"
      [multiple]="false"
    >
      <mat-button-toggle value="interval">Interval</mat-button-toggle>
      <mat-button-toggle value="timeofday">Time of Day</mat-button-toggle>
    </mat-button-toggle-group>
  </p>
</div>
<div [ngSwitch]="scheduleType">
  <div *ngSwitchCase="'interval'">
    <mat-form-field appearance="standard" style="width: 3em">
      <mat-label>Day</mat-label>
      <mat-select [(value)]="interval.day" #day>
        <mat-option
          *ngFor="let day of [].constructor(8); let i = index"
          value="{{ i }}"
          >{{ i }}</mat-option
        >
      </mat-select>
    </mat-form-field>
    &nbsp;
    <mat-form-field appearance="standard" style="width: 4em">
      <mat-label>Hour</mat-label>
      <mat-select [(value)]="interval.hour" #hour>
        <mat-option
          *ngFor="let day of [].constructor(24); let i = index"
          value="{{ i }}"
          >{{ i }}</mat-option
        >
      </mat-select>
    </mat-form-field>
    &nbsp;
    <mat-form-field appearance="standard" style="width: 4em">
      <mat-label>Min</mat-label>
      <mat-select [(value)]="interval.minute" #min>
        <mat-option
          *ngFor="let min of [].constructor(60); let i = index"
          value="{{ i }}"
          >{{ i }}</mat-option
        >
      </mat-select>
    </mat-form-field>
    <!-- <input type="text" size="2" /> : <input type="text" size="2" /> :
  <input type="text" size="2" /> DD: HH : MM -->
  </div>
  <div *ngSwitchCase="'timeofday'">
    <mat-form-field appearance="standard">
      <mat-label>Time of Day</mat-label>
      <input matInput type="time" [value]="timeOfDay" placeholder="Interval" />
    </mat-form-field>
  </div>
</div>
<hr />
<div>
  <ul>
    <li>Value of scheduleType: {{ scheduleType }}</li>
    <li>Value of interval: {{ interval.ticks }}</li>
    <li>-- interval.day: {{ interval.day }}</li>
    <li>-- interval.hour: {{ interval.hour }}</li>
    <li>-- interval.minute: {{ interval.minute }}</li>
    <li>Value of timeOfDay: {{ timeOfDay }}</li>
  </ul>
</div>
